table {
  border-collapse: collapse;
  margin-top: 24px;
}
td,
th {
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
td:first-child {
  min-width: 40px;
}
thead {
  border-bottom: 1px solid #f3f3f3;
}
@media only screen and (max-width: 480px) {
  /*desktop*/
  .table-wrapper {
    overflow-x: scroll;
    font-size: 12px;
  }
}
